@import "../omarchy/current/theme/waybar.css";

* {
    border: none;
    font-family: 'SF Pro Display';
    font-weight: 800;
    font-size: 16.3px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

window#waybar {
 background: transparent;
  border-radius: 26px;


}

#custom-omarchy,
#workspaces,
#clock,
#network,
#bluetooth,
#pulseaudio,
#language,
#battery,
#cpu,
#custom-noti,
#group-tray-expander {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.25) 100%);
    background-color: @bg1; 
    
    color: @foreground;
    padding: 2px 18px;
    margin: 6px 4px;
    border-radius: 16px; 
    
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.1), 
        inset 0 -1px 2px rgba(0, 0, 0, 0.4);      
    
    border: 1px solid rgba(255, 255, 255, 0.03);
}

#custom-omarchy {
    color: @color4;
    font-size: 18px;
    padding: 0 22px;
}

#workspaces button {
    color: rgba(255, 255, 255, 0.4);
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 10px;
}

#workspaces button.active {
    background: @foreground;
    color: @background;
    min-width: 40px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

#workspaces button:hover {
    color: @foreground;
    background: rgba(255, 255, 255, 0.1);
}

#network    { color: @color6; }
#bluetooth  { color: @color4; }
#pulseaudio { color: @color3; }
#battery    { color: @color2; }
#language   { color: @color5; }
#cpu        { color: @color1; }
#clock      { color: @color7; font-weight: 900; }
#custom-noti { color: @color6; }

#network:hover, 
#bluetooth:hover, 
#pulseaudio:hover, 
#battery:hover, 
#clock:hover, 
#cpu:hover,
#custom-omarchy:hover {
    background: @foreground;
    color: @background;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
}

tooltip {
    background: @background;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 10px;
}

#tray {
    margin: 0 8px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
